<div>
	<form>
		<fieldset>
			<label for="acc_no">Account Number:</label>
			{{input type="number" id="acc_no" name="acc_no" value=acc_no placeholder="Enter your Account number" }}
			<br/><br/>
			<label for="money">Money:</label>
			{{input type="number" id="money" name="money" value=money placeholder="Withdraw amount" }}
			<br/><br/>
			<label for="customer_passphrase">Customer Passphrase:</label>
			{{input type="password" id="customer_passphrase" name="customer_passphrase" value=customer_passphrase placeholder="Enter customer_passphrase"}}
			<br/><br/>
			<label for="operator_password">Operator Password:</label>
			<!--input type="hidden" id="operator_id" name="operator_id" value=-->
			{{input type="password" id="operator_password" name="operator_password" value=operator_password placeholder="Enter operator_password"}}
			<br/><br/>
			<button type="submit" {{action "withdraw" }}>Withdraw</button>
		</fieldset>
	</form>
</div>
